<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>


<br>
<table class="table">

    <h1>Thymeleaf  Please register</h1>
    <form th:action="@{/login}" method="post">
        <h2>Login formula</h2>
           <div><input type="submit" value="Sign In"/></div>
        <h2>start</h2>
    </form>

    <tbody>
    <tr th:each="events : ${events}">
        <td><span th:text="${events.id}"> </span></td>
        <td><span th:text="${events.event_name}"> </span></td>
        <td><span th:text="${events.event_description}">  </span></td>
        <td><span th:text="${events.event_city}">  </span></td>
        <td><span th:text="${events.event_date}"> </span></td>

    </tr>
    </tbody>
</table>


</body>
</html>