<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<h4>Display events</h4>
<br>
<table class="table">
    <thead>
    <tr class="table-primary">
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <h1>Thymeleaf tutorial - Please register</h1>
    <form action="#" data-th-action="@{/events}" data-th-object="${events}" method="post">
        <h1>
        <button type="submit" name="action" value="login">Login</button>
        <button type="submit" name="action" value="register">Register</button>
        </h1>
    </form>

    <tbody>
        <tr th:each="events : ${events}">
        <td><span th:text="${events.event_name}"> </span></td>
        <td><span th:text="${events.event_description}">  </span></td>
        <td><span th:text="${events.event_city}">  </span></td>

    </tr>
    </tbody>
</table>


</body>
</html>